@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');

.wrapper{
  background-image: url("../images/ph.png");
  background-color: rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

@media (max-width: 768px) {
  .wrapper {
background-size: cover;
background-repeat: no-repeat;
background-attachment: scroll;
background-position: 50% 50%;
top: 0;
bottom: 0;
left: 0;
content: "";
z-index: 0;
min-height: auto;
height: auto;
  }
}



body{
  font-family: 'Comfortaa', cursive;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialised !important;
}



@media only screen and (max-width: 480px) {
  .wrapper {
  min-height: 100%;
   }
  }

 
    
