@import '../../styles/mixins';

body{
  font-family: 'Comfortaa', cursive;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialised !important;
}

.sign {
  color: #ffffff;
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}



.login {
  width: 350px;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -175px;
}

input[type="text"], input[type="password"] {
  width: 350px;
  padding: 20px 0px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #435160;
  outline: none;
  color: #ffffff;
  font-size: 18px;
}
input[type=checkbox] {
  display: none;
}

label {
  display: block;
  position: absolute;
  margin-right: 16px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: transparent;
  content: "";
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 3px solid #f9f9f9;
}

#agree:checked ~ label[for=agree] {
  background: #435160;
}

input[type="submit"] {
  background: #b6161f;
  border: 0;
  width: 350px;
  height: 40px;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
input[type="submit"]:hover {
  animation-name: shake;
}

.forgot {
  margin-top: 30px;
  display: block;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.forgot:hover {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  color: #f9f9f9;;
}

.agree {
  padding: 30px 0px;
  font-size: 12px;
  text-indent: 25px;
  line-height: 15px;
}

::-webkit-input-placeholder {
  color: #f9f9f9;
  font-size: 18px;
}

.animated {
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
