@import '../../styles/mixins';

html{
  height:100%
}
body{
  height:100%;
}
.intro{
  height:100%
}

.left{
  display : flex;
  align-items : center;
  background-color:#3d231b;
  height : 100%;
  color : #ffffff;

}
 
 .welcome{
     padding: 50px;
 }

 .welcome p{
     line-height: 2
 }

 .welcome h1{
     font-size: 80px;
 }

.right{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#3d231b;
  height : 100%;
  color : #3d231b;
}
@media (max-width: 1200px) { 
  .left{
    height:50%
  }
  .right{
    height:50%
  }
}
