@import '../../styles/mixins';
@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');

body{
  font-family: 'Comfortaa', cursive;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialised !important;
}

.caption{
  padding: 180px;
}

.cli{
  width: 500px;
  height: 500px;
  /* line-height: 100px; */
  border-radius: 50%; 
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto 40px;
  background-color: transparent;
  border: 2px #f9f9f9 solid;
}

.cli h1{
  padding-bottom: 30px;
  margin-top: 0px;
  font-size: 80px;
}

.cli span:nth-child(1) {
  text-align: left;
}

.cli span:nth-child(2) {
  font-size: 2em;
}

.cli span:nth-child(3) {
  text-align: right;
}

.cli span:nth-child(4) {
  font-size: 3em;
  margin-top: 20px;
  letter-spacing: 20px;
}

.cli span {
  display: block;
}


.sections{
  padding: 90px;
}