@import '../../styles/mixins';

.navbar{
  border-radius: 0px;
  border-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.navbar-default {
  background-color: transparent;
}

.nav li{
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  border-left: 0.5px solid #f9f9f9;

}
.navbar-default .navbar-nav>li>a {
  color: #ffffff;
}


