@import '../../styles/mixins';
@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');

body {
  font-family: 'Comfortaa', cursive;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialised !important;
}

.padding-tb100 {
  padding: 250px 15px;
}

.margin-t10 {
  margin-top: 10px;
  color: #f9f9f9;
}

h4 {
  font-size: 20px;
}

.margin-tb10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fas,
.far {
  color: #f9f9f9;
  font-size: 150px;
  text-align: center;
}

.mention .fas,
.far {
  font-size: 10px;
}

.mention h4 {
  font-size: 15px;
}

.button {
  background-color: #333;
  color: #333;
  border-radius: 6px;
  display: inline-block;
  font-family: 'Comfortaa', cursive;
  border: 3px solid #f9f9f9;
  padding: 0 26px;
  height: 60px;
  min-width: 250px;
  line-height: 50px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 24px;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  touch-action: manipulation;
  vertical-align: middle;
}

.button :hover {
  background-color: #333;
  border: 0px;
}

.caption {
  padding: 180px;
}

.dropdown-menu {
  background: rgba(0, 0, 0, 0.5);
}

.dropdown-menu li a {
  color: #f9f9f9;
  font-weight: bold;
  font-size: 20px;
}

.dropup .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.dropup:hover .dropdown-menu {
  max-height: 200px;
  opacity: 1;
}

.notify,
.notify-1 {
  color: #f9f9f9;
  padding: 10px;
  border-radius: 50%;
  font-weight: bold;
  position: relative;
  bottom: 40px;
  right: 5px;
  text-align: center;
}

.notify {
  background: green;
}

.notify-1 {
  background: red;
}


